@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

:root {
    --bc: #15151b;
    --text: #fefefd;
    --alt-text: #aeaead;
    --main: #fefe00;
    --sec: #29282d;
    --acc: #fdfe00; 
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bc);
    color: var(--text);
    font-family: 'Josefin Sans', sans-serif;
}

.headStrip {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin-bottom: -300px;
}

.headStrip h1 {
    font-size: 3em;
    color: var(--main);
}

.headStrip p {
    font-size: 2em;
}

.headStripR div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.headStripR div h1 {
    background-color: var(--sec);
    padding: 20px;
    border-radius: 20px;
    font-size: 3em;
    text-align: center;
    color: var(--main);
}

.headStripR div a {
    font-size: 3em;
    text-decoration: none;
    background-color: var(--acc);
    color: var(--sec);
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    transition: ease-out 200ms;
}

.headStripR div a:hover {
    transform: scale(1.1);
    transition: ease-in 200ms;
}

.headStripR div p {
    color: var(--alt-text);
    margin-top: 20px;
    font-size: 0.5em;
}


.pageCont {
    margin: 20px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageCont img {
    width: 50vw;
    border-radius: 20px;
}

.feat {
    padding-top: 30px;
    padding-bottom: 100px;
    margin-top: -10px;
    height: 800px;
    background-color: var(--main);
    color: var(--sec);
    overflow-y: scroll;
    white-space: nowrap;
}

.featT {
    text-align: center;
    margin-top: -10px;
    width: 100vw;
    padding: 50px 0 40px 0;
    font-size: 3em;
    background-color: var(--main);
    color: #15151b;
}



.card {
    font-size: 2em;
    text-transform: uppercase;
    background-size: cover;
    color: var(--sec);
    border: none;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 20px;
    height: 100%;
    width: 30%;
}

.card button {
    width: 100%;
    height: 100%;
}

.new {
    background-color: var(--bc);
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 20px 20px 0 0;
    margin-top: -60px;
    z-index: 2;
}

.new button  {
    border: none;
    font-size: 2em;
    width: 95%;
    border-radius: 10px;
    background-color: var(--sec);
    color: var(--acc);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 40px 0px 20px 0px;
}

.new h1 {
    text-align: center;
    font-size: 3em;
    margin: 20px 0 20px 0;
}

.new p {
    color: var(--alt-text);
    margin-left: 40px;
}
    
.new img {
    margin-right: 20px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
}

