@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

:root {
    --bc: #15151b;
    --text: #fefefd;
    --alt-text: #aeaead;
    --main: #fefe00;
    --sec: #29282d;
    --acc: #fdfe00; 
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bc);
    color: var(--text);
    font-family: 'Josefin Sans', sans-serif;
}



.mainav {
    text-transform: uppercase;
    padding-top: 30px;
    margin-top: -10px;
    background-color: var(--main);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    align-items: baseline;
    font-size: 3em;
    gap: 100px
}

.mainav a {
    color: var(--sec);
    text-decoration: none;
    transition: ease-out 50ms;
}

.mainav a:hover {
    color: var(--alt-text);
    transform: scale(1.4);
    margin: 0 50px;
    transition: ease-in 5s0ms;
}

.read-nav {
    background-color: var(--sec);
    text-transform: uppercase;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.read-nav img {
    width: 50px;
}

.read-nav-logo {
    color: var(--main);
    font-size: 50px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding: 20px;
}

.read-nav-nav {
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    justify-content: space-between;
}

.read-nav-nav a {
    color: #aeaead;
    margin: 0 20px;
    text-decoration: none;
}

.read-nav-btn {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding: 20px;
}

.read-nav-btn button {
    background-color: var(--acc);
    color: var(--bc);
    margin-left: 20px;
    border-radius: 20px;
    font-size: 2em;
    border: none;
    padding: 10px 70px;
}

.list {
    width: 100%;
}

.list img {
    height: 100px;
}

.list button {
    background-color: var(--sec);
    padding: 20px 0;
    font-size: 2em;
    border: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;
    gap: 50px;
    padding-left: 50px;
    transition: ease-out 50ms;
}

.list button:hover {
    gap: 20px;
    background-color: var(--alt-text);
    padding: 30px 60px;
    transition: ease-in 50ms;
}


.headStrip {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-bottom: -300px;
}

.headStrip h1 {
    font-size: 3em;
    color: var(--main);
}

.headStrip div {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-content: baseline;
}

.headStrip p {
    font-size: 2em;
}

.headStripR div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.headStripR div h1 {
    background-color: var(--sec);
    padding: 20px;
    border-radius: 20px;
    font-size: 3em;
    text-align: center;
    color: var(--main);
}

.headStripR div a {
    font-size: 3em;
    text-decoration: none;
    background-color: var(--acc);
    color: var(--sec);
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    transition: ease-out 200ms;
}

.headStripR div a:hover {
    transform: scale(1.1);
    transition: ease-in 200ms;
}

.headStripR div p {
    color: var(--alt-text);
    margin-top: 20px;
    font-size: 0.5em;
}

.pageCont {
    margin: 20px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageCont img {
    width: 50vw;
    border-radius: 20px;
}

.feat {
    padding-top: 30px;
    padding-bottom: 100px;
    margin-top: -10px;
    height: 800px;
    background-color: var(--main);
    color: var(--sec);
    overflow-y: scroll;
    white-space: nowrap;
}

.featT {
    text-align: center;
    margin-top: -10px;
    width: 100vw;
    padding: 300px 0 40px 0;
    font-size: 4em;
    background-color: var(--main);
    color: #15151b;
}

.card {
    font-size: 2em;
    text-transform: uppercase;
    background-size: cover;
    color: var(--sec);
    border: none;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 20px;
    height: 100%;
    width: 30%;
}

.card button {
    width: 100%;
    height: 100%;
}

.new {
    background-color: var(--bc);
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 20px 20px 0 0;
    margin-top: -60px;
    z-index: 2;
}

.new button  {
    border: none;
    font-size: 2em;
    width: 95%;
    border-radius: 10px;
    background-color: var(--sec);
    color: var(--acc);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 40px 0px 20px 0px;
}

.new h1 {
    text-align: center;
    font-size: 3em;
    margin: 20px 0 20px 0;
}

.new p {
    color: var(--alt-text);
    margin-left: 40px;
}
    
.new img {
    margin-right: 20px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
}

.chap-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chap-nav button {
    font-size: 2em;
    border-radius: 20px;
    color: var(--sec);
    background-color: var(--acc);
    border: none;
    padding: 20px;
    margin: 20px;
    transition: ease-out 100ms;
}

.chap-nav button:hover {
    transform: scale(1.1);
    transition: ease-in 100ms;
}
